{% extends 'base.html' %}
{% load static %}


{% block title %}{% endblock title %}



{% block header_write_up %}{% endblock header_write_up %}

{% block content %}
<div class="__contact">
    <h2>Contact Us</h2>
    <p>Get in touch for related enquiries and information</p>
</div>

<div class="__content">
    <p>For information about N-Power and other government intervention program, please contact:</p>
    <p><b>info@nasims.gov.ng</b><p>

    <p>For queries on N-Power and other government intervention programs, please contact:<p>
    <p><b>info@nasims.gov.ng</b><p>
    <p>092203102</p>
    <p>018888148</p>
</div>
{% block footer %}{% endblock footer %}
{% endblock content %}












