{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock title %}


{% comment %} {% block css_files %}
<link rel="stylesheet" href="{% static 'account/login.css' %}" />
{% endblock css_files %} {% endcomment %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'account/login.css' %}" />
{% endblock extra_styles %}

{% block header_write_up %}{% endblock header_write_up %}

{% block content %}
<h1 class="mt-16">Login to your NASIMS Account</h1>
<div class="flex justify-between  ">
    <div class="bg-blue-400 rounded-xl ml-6">
        <h4>For biometrics enrolment, kindly follow the instructions below;</h4>
        <ol class="bg-blue-400">
            <li>Login to your dashboard and click the "verification" tab</li>
            <li>Click the “capture your fingerprint” button to download and install the enrolment application</li>
            <li>After installation, provide the required credentials and click "Proceed".</li>
            <li>Make sure the fingerprint biometric device is connected, then click on 
                "Begin Enrolment" to launch the enrolment process.</li>
            <li>Click on the finger to begin the enrolment process</li>
            <li>Applicants are to enroll their Right thumb, Right index, 
                Left thumb and Left index fingers only for successful enrolment</li>
            <li>After successful enrollment, click on “Submit” to save the biometric enrollment</li>
            
        </ol>
        <p>After successful enrolment, please check the "verification" tab of your self service
             portal to confirm if the capture was successful.</p>
            </div>

        <form method="post" class="bg-blue-300 rounded-lg p-3 mr-4">
            {% csrf_token %}
            {% if form.errors %}
            <div>{{form.non_field_errors}}</div>
            {% endif %}

      
            <label for="id_username">Username:</label>
       <input class="bg-purple-700 rounded-lg" type="text"
       name="username" 
       autofocus="" 
       autocapitalize="none" 
       autocomplete="username" 
       maxlength="150" 
       required="" 
       id="id_username">
      <br>
  
    <label for="id_password">Password:</label>
      <input class="bg-purple-700 rounded-lg" type="password"
       name="password" 
       autocomplete="current-password" 
       required="" 
       id="id_password">

         <button type="submit" class="__login_button">Login</button>
        </form>
        </div>
        
        {% block dashboard_header %}{% endblock dashboard_header %}

        {% block footer %}{% endblock footer %}
        {% block last_footer %}{% endblock last_footer %}
{% endblock content %}
